pkgbase = tide-terminal-ide
	pkgdesc = A focused terminal IDE for code, shells, and AI agents
	pkgver = 0.4.0
	pkgrel = 1
	url = https://github.com/nasazzam/tide
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	depends = glibc
	depends = tmux
	optdepends = git: repository status in the Explorer
	optdepends = poppler: PDF previews
	optdepends = imagemagick: additional image and font previews
	optdepends = ffmpegthumbnailer: video previews
	options = !debug
	source = tide-terminal-ide-0.4.0.tar.gz::https://github.com/nasazzam/tide/archive/refs/tags/v0.4.0.tar.gz
	sha256sums = f4b610fb2400578e8e27d8f1125cc9ed3666717cefe5549c9bc9033b81cf2eb8

pkgname = tide-terminal-ide
